@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #3b5998;
  height: 75px;
  padding: 18px;
  border-bottom: 1px solid #111;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

header .logo {
  color: white;
  display: inline-block;
  width: 20%;
  padding-left: 40px;
  margin-left: -4px;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 32px;
}

header .login-area {
  display: inline-block;
  float: right;
  width: 40%;
}

header .login-area table {
  margin-top: -8px;
}

header .login-area table tbody {
  font-size: 12px;
}

header .login-area table tbody tr td {
  padding-left: 20px;
  padding-bottom: 5px;
}

header .login-area table tbody tr td label {
  color: white;
}

header .login-area table tbody tr td input[type="email"],
header .login-area table tbody tr td input[type="password"] {
  border: 1px solid #111;
}

header .login-area table tbody tr td .btn-login {
  background: blue;
  color: white;
  font-weight: 800;
  border: 1px solid #111;
  height: 24px;
  font-size: 12px;
}

header .user-info {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  padding-right: 20px;
}

header .user-info ul li {
  display: inline-block;
}

header .user-info ul li a {
  margin-right: 20px;
}

header .user-dash {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

header .user-dash .quick-options {
  display: inline-block;
  margin-left: -4px;
  padding-left: 26px;
  padding-right: 36px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

header .user-dash .quick-options li {
  display: inline-block;
  padding-left: 15px;
}

header .user-dash .options-dropdown {
  position: relative;
  display: inline-block;
  margin-left: -4px;
  padding-left: 20px;
}

header .user-dash .options-dropdown:hover .dropdown-content {
  display: block;
}

header .user-dash .options-dropdown .fa-caret-down {
  font-size: 20px;
  color: white;
}

header .user-dash .options-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  text-decoration: none;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .user-dash .options-dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .user-dash .options-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

header .search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

header .search-area ul li {
  display: inline-block;
  position: relative;
}

header .search-area ul li input[type="text"] {
  width: 375px;
  height: 28px;
  color: white;
  font-size: 15px;
  background-color: #3b5998;
  border: none;
  border-bottom: 2px solid #9cb4d8;
}

header .search-area ul li .fa-search {
  color: white;
}

header .search-area ul li .fa-times {
  position: absolute;
  font-size: 18px;
  left: -19px;
  top: -13px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

