@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #3B5998;
  padding: 18px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

header .logo {
  color: white;
  display: inline-block;
  width: 20%;
  padding-left: 40px;
  margin-left: -4px;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 32px;
}

header .login-area {
  display: inline-block;
  text-align: right;
}

header .user-info {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  padding-right: 20px;
}

header .user-info ul li {
  display: inline-block;
}

header .user-info ul li a {
  margin-right: 20px;
}

header .user-dash {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

header .user-dash .quick-options {
  display: inline-block;
  margin-left: -4px;
  padding-left: 26px;
  padding-right: 36px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

header .user-dash .quick-options li {
  display: inline-block;
  padding-left: 15px;
}

header .user-dash .options-dropdown {
  display: inline-block;
  margin-left: -4px;
  padding-left: 20px;
}

header .user-dash .options-dropdown .fa-caret-down {
  color: white;
}

header .search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

header .search-area ul li {
  display: inline-block;
}

header .search-area ul li .fa-search {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

