
// Body
$body-bg: #f5f8fa;

// Colours
$rasberry: #f60f61;
$grapBerry: #A73267;
$Zblue: #3A5486;
$backpage: #F2F2F2;
$royalAzul: #3B5998;
$forgotGrey: #9cb4d8;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
