// Body
$body-bg: #f5f8fa;

// Colours
$rasberry: #f60f61;
$grapBerry: #a73267;
$Zblue: #3a5486;
$backpage: #f2f2f2;
$royalAzul: #3b5998;
$forgotGrey: #9cb4d8;
$goodBorder: rgba(255, 255, 255, 0.3);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
